{{define "footer"}}
<!--footer-->
<footer class="container-fuild">
    <div class="top_footer">
      <h1 class="text-center title">INSTARGRAM</h1>
      <hr>
      <div class="slider" id="single_item">
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img1.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img2.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img3.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img4.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img5.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img1.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img2.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img3.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img4.jpg" alt="Xem chi tiết"></div>
        <div><img width="300" height="169" src="/resources/fontend/images/home_Page/img5.jpg" alt="Xem chi tiết"></div>
      </div>
    </div>
    <div class="row main_footer">
      <div class="col-6 logo">yummy</div>
      <div class="col-6 right_area">
        <div class="network d-flex flex-row-reverse"><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></div>
        <div class="make_by d-flex flex-row-reverse">© 2019 YUMMY. MAKED BY NHATMINH</div>
      </div>
    </div>
  </footer>
{{end}}