*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
html{
    /* font-size: 62.5%; */
    /* fix cứng font (62.5%) */
    font-size: 10px;
    position: relative;
    z-index: auto;
}
/*Set Color*/
:root {
	/*--ten-bien: gia tri;*/
	--orange-color: #FD5B00;
	--red-color: #B62A00;
	--gray-color: #686868;
    --black-color: #000000;
    --white-color: #ffffff;
}

/* Fonts setting*/
a, p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}