<section class="section_1 container-fluid">
    <div class="menu row">
      <div class="col-7 detail_menu">
        <p class="title"> <span style="color:#FD5B00;">Thực đơn </span>Bữa sáng</p>
        <p class="sub_title">Tất cả các ngày trong tuần 6h30-10h30</p>
        <div class="dish">
          <p class="dish_name">Trứng tráng rau củ</p>
          <p class="dish_info">Kèm bánh mỳ và sốt chua cay. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .50,000 VND</p>
        </div>
        <div class="dish">
          <p class="dish_name">Trứng tráng rau củ</p>
          <p class="dish_info">Kèm bánh mỳ và sốt chua cay. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .50,000 VND</p>
        </div>
        <div class="dish">
          <p class="dish_name">Trứng tráng rau củ</p>
          <p class="dish_info">Kèm bánh mỳ và sốt chua cay. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .50,000 VND</p>
        </div>
        <div class="dish">
          <p class="dish_name">Trứng tráng rau củ</p>
          <p class="dish_info">Kèm bánh mỳ và sốt chua cay. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .50,000 VND</p>
        </div>
        <div class="dish">
          <p class="dish_name">Trứng tráng rau củ</p>
          <p class="dish_info">Kèm bánh mỳ và sốt chua cay. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .50,000 VND</p>
        </div>
      </div>
      <div class="col-5 select_menu">
        <div class="row select">
          <div class="col-3 image"><img src="/resources/fontend/images/menu_Page/breakfast.png" alt=""></div>
          <div class="col-9 content_select">
            <p class="title_select">Bữa sáng</p>
            <p class="sub_title_select">Tất cả các ngày trong tuần 6h30-10h30</p>
          </div>
        </div>
        <hr>
        <div class="row select">
          <div class="col-3 image"><img src="/resources/fontend/images/menu_Page/lunch.png" alt=""></div>
          <div class="col-9 content_select">
            <p class="title_select">Bữa trưa</p>
            <p class="sub_title_select">Tất cả các ngày trong tuần 6h30-10h30</p>
          </div>
        </div>
        <hr>
        <div class="row select">
          <div class="col-3 image"><img src="/resources/fontend/images/menu_Page/dinner.png" alt=""></div>
          <div class="col-9 content_select">
            <p class="title_select">Bữa tối</p>
            <p class="sub_title_select">Tất cả các ngày trong tuần 6h30-10h30</p>
          </div>
        </div>
        <hr>
        <div class="row select">
          <div class="col-3 image"><img src="/resources/fontend/images/menu_Page/drinks.png" alt=""></div>
          <div class="col-9 content_select">
            <p class="title_select">Đồ uống</p>
            <p class="sub_title_select">Tất cả các ngày trong tuần 6h30-10h30</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section_2 container-fluid"></section>
<style>
    /*------------Header-----------*/
    /* Banner */
    .header_area {
        background-image: url("/resources/fontend/images/menu_Page/banner.png");
        height: 50rem; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }
    .container-fluid{
        padding: 0;
        margin: 0;
    }
    .header_main{
        padding-top: 5rem;
        font-family: 'Fredericka the Great', cursive;
        font-size: 18rem;
        color: #ffffff;
        line-height: 18rem;
    }
    /* section 1 */
    /* chỉnh nè */
    .section_1 .menu{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .section_1 .detail_menu{
        padding: 10rem;
    }

    .section_1 .detail_menu .title{
        font-family: 'Dancing Script', cursive;
        font-size: 6.4rem;
        margin: 0;
        line-height: 8rem;
    }

    .section_1 .detail_menu .sub_title{
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-style: italic;
        padding-bottom: 3rem;
    }
    .section_1 .dish{
        padding-bottom: 3rem;
    }
    .section_1 .dish_name{
        font-family: 'Prata', serif;
        font-size: 2.4rem;
    }
    .section_1 .dish_info{
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        font-style: italic;
    }

    .section_1 .select_menu{
        background-color: #F7F5EF;
        padding: 10rem;
    }

    .section_1 .title_select{
        font-family: 'Prata', serif;
        font-size: 4.8rem;
        line-height: 5rem;
    }
    .section_1 .sub_title_select{
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-style: italic;
    }
    .select_menu img{
        width: 8rem;
        height: auto;
    }

    .select_menu .select{
        padding-bottom: 3rem; 
    }
    /* section 2 */
    .section_2 {
        background-image: url("/resources/fontend/images/menu_Page/Sologan.png");
        height: 50rem; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }
</style>